<launch>
    <arg name="namespace_prefix" default="ur3_handeyecalibration" />
    <arg name="robot_ip" doc="The IP address of the UR3 robot" />
    <!-- Ubah ukuran dan id marker -->
    <arg name="marker_size" doc="Size of the ArUco marker used, in meters" default="0.1"/>
    <arg name="marker_id" doc="The ID of the ArUco marker used" default="571" />

    <!-- start the camera -->
    <node name="cv_camera" pkg="cv_camera" type="cv_camera_node" output="screen">
        <param name="device_id" value="2"/>  <!-- Sesuaikan jika menggunakan kamera lain -->
        <param name="image_width" value="1024"/>
        <param name="image_height" value="768"/>
        <param name="frame_id" value="camera"/>
        <param name="camera_info_url" value="file:///home/nks/TugasAkhir/left.yaml"/>
    </node>

    <!-- start ArUco -->
    <node name="aruco_tracker" pkg="aruco_ros" type="single">
        <remap from="/camera_info" to="/cv_camera/camera_info" />
        <remap from="/image" to="/cv_camera/image_raw" />
        <param name="image_is_rectified" value="true"/>
        <param name="marker_size"        value="$(arg marker_size)"/>
        <param name="marker_id"          value="$(arg marker_id)"/>
        <param name="reference_frame"    value="camera"/>
        <param name="camera_frame"       value="camera"/>
    <!-- Nilai di bawah jangan di ubah -->
        <param name="marker_frame"       value="camera_marker" />
    </node>

    <!-- start the robot -->
    <include file="$(find ur_robot_driver)/launch/ur3_bringup.launch">
        <arg name="robot_ip" value="10.29.202.167" />
    </include>
    <include file="$(find ur3_moveit_config)/launch/moveit_planning_execution.launch">
    </include>

    <!-- start easy_handeye -->
    <include file="$(find easy_handeye)/launch/calibrate.launch" >
        <arg name="namespace_prefix" value="$(arg namespace_prefix)" />
        <arg name="eye_on_hand" value="false" />
        <arg name="tracking_base_frame" value="camera" />
        <arg name="tracking_marker_frame" value="camera_marker" />
        <arg name="robot_base_frame" value="base_link" />
        <arg name="robot_effector_frame" value="wrist_3_link" />
        <arg name="freehand_robot_movement" value="false" />
        <arg name="robot_velocity_scaling" value="0.5" />
        <arg name="robot_acceleration_scaling" value="0.2" />
    </include>

</launch>